<!-- Flawless -->

<style>
  body {
    min-width: 724px;
  }
</style>

<div ng-if="index.isAdministrator()">
  <div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center"><strong>Amministra gli Eventi</strong></h2>
        </div>
      </div>

      <hr/>

      <div class="row br-lg"></div>

      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-2 text-center">Nome</th>
                <th class="col-xs-2 text-center">Creatore</th>
                <th class="col-xs-2 text-center">Data</th>
                <th class="col-xs-1 text-center">Durata</th>
                <th class="col-xs-1 text-center">Partecipanti</th>
                <th class="col-xs-1 text-center">Classe</th>
                <th class="col-xs-3 text-center">Materiali</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="event in ctrl.events">
                <td class="text-center"><a ng-href="evento/{{event.id}}">{{event.name}}</a></td>
                <td class="text-center"><a ng-href="utente/{{event.user.id}}">{{event.user.firstName}} {{event.user.lastName}}</a></td>
                <td class="text-center">{{event.date}}</td>
                <td class="text-center">{{event.duration}}</td>
                <td class="text-center">{{event.users.length}}/{{event.maximumPartecipants}}</td>
                <td class="text-center">{{event.classroom.name}}</td>
                <td class="text-center">{{event.writtenItems}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
