<!-- Flawless -->

<style>
  body {
    min-width: 724px;
  }
</style>

<div ng-if="index.isAdministrator()">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center"><strong>Amministra gli Utenti</strong></h2>
    </div>
  </div>

  <hr/>

  <div class="row br-lg"></div>

  <div class="row">
    <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Cerca un Utente</h4>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <div isteven-multi-select class="isteven-multi-select" selection-mode="single" button-label="firstName lastName" item-label="firstName lastName" tick-property="ticked" max-labels="1" input-model="ctrl.users" output-model="ctrl.user" helper-elements="filter" translation="{ search: 'Cerca Utente...', nothingSelected : 'Utente...' }"></div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="index.locate('utente/' + ctrl.user[0].id + '/eventi')">Cerca</button>
          </div>
        </div>
      </div>

      <hr/>
      <hr/>
      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Aggiungi un Utente</h4>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Matricola..." ng-model="ctrl.fresher" required/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Nome..." ng-model="ctrl.firstName" required/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Cognome..." ng-model="ctrl.lastName" required/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" placeholder="Email..." ng-model="ctrl.email" required/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <div isteven-multi-select button-label="name" item-label="name" tick-property="ticked" max-labels="1" input-model="ctrl.roles" output-model="ctrl.selectedRoles" helper-elements="none filter" translation="{selectNone: 'Deseleziona tutti', search: 'Cerca Ruolo...', nothingSelected : 'Rouli...' }"></div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="ctrl.create(ctrl.fresher, ctrl.firstName, ctrl.lastName, ctrl.email, ctrl.selectedRoles)">Aggiungi</button>
          </div>
        </div>
      </div>

      <hr class="visible-sm visible-xs"/>
      <hr class="visible-sm visible-xs"/>
      <hr class="visible-sm visible-xs"/>
    </div>

    <div class="col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Utenti esistenti</h4>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-2 text-center">Matricola</th>
                <th class="col-xs-4 text-center">Nome e Cognome</th>
                <th class="col-xs-2 text-center">Email</th>
                <th class="col-xs-2 text-center">Ruoli</th>
                <th class="col-xs-2 text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in ctrl.users">
                <td class="text-center" style="padding-top: 9px;">{{user.fresher}}</td>
                <td class="text-center" style="padding-top: 9px;"><a ng-href="utente/{{user.id}}">{{user.firstName}} {{user.lastName}}</a></td>
                <td class="text-center" style="padding-top: 9px;">{{user.email}}</td>
                <td class="text-center" style="padding-top: 9px;">{{user.writtenRoles}}</td>
                <td class="text-center">
                  <a class="btn btn-primary btn-xs" ng-href="amministrazione/utente/{{user.id}}/modifica"><i class="fa fa-edit" aria-hidden="true"></i></a>

                  <a class="btn btn-danger btn-xs" ng-click="ctrl.disable(user)" ng-if="!user.disabled"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                  <a class="btn btn-success btn-xs" ng-click="ctrl.enable(user)" ng-if="user.disabled"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
