<!-- Flawless -->

<div class="row" ng-if="index.isAdministrator()">
  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Argomenti</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/argomenti')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Classi</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/classi')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Eventi</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/eventi')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Materiali</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/materiali')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Stampa</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/stampa')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Utenti</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/utenti')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
