<!-- Flawless -->

<div ng-if="index.isAdministrator()">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center"><strong>Amministra le Stampe</strong></h2>
    </div>
  </div>

  <hr/>

  <div class="row br-lg"></div>

  <div class="row">
    <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Seleziona una Data</h4>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <div class="dropdown">
            <p class="dropdown-toggle" id="dropdown2" data-toggle="dropdown">
              <input type="text" class="form-control" placeholder="Data Iniziale..." data-ng-model="ctrl.startingDate"/>
            </p>
            <ul class="dropdown-menu">
              <datetimepicker data-datetimepicker-config="{dropdownSelector: '#dropdown2', minView:'day'}" data-ng-model="ctrl.startingDate" ng-change="ctrl.onStartingDateChange(ctrl.startingDate)"/>
            </ul>
          </div>
        </div>
      </div>

      <div class="row br-sm" ng-if="ctrl.startingDate"></div>

      <div class="row" ng-if="ctrl.startingDate">
        <div class="col-xs-12">
          <div class="dropdown">
            <p class="dropdown-toggle" id="dropdown3" data-toggle="dropdown">
              <input type="text" class="form-control" placeholder="Data Finale..." data-ng-model="ctrl.endingDate"/>
            </p>
            <ul class="dropdown-menu">
              <datetimepicker data-datetimepicker-config="{dropdownSelector: '#dropdown3', minView:'day'}" data-ng-model="ctrl.endingDate" ng-change="ctrl.onEndingDateChange(ctrl.endingDate, ctrl.startingDate, ctrl.events)"/>
            </ul>
          </div>
        </div>
      </div>

      <hr class="visible-sm visible-xs"/>
      <hr class="visible-sm visible-xs"/>
      <hr class="visible-sm visible-xs"/>
    </div>

    <div class="col-md-7 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Eventi</h4>
        </div>
      </div>

      <hr/>

      <div class="row" ng-if="ctrl.filteredEvents && ctrl.filteredEvents.length > 0">
        <div class="col-xs-12">
          <table class="table table-striped" style="margin-bottom: 0px">
            <thead>
              <tr>
                <th class="col-xs-3 text-center">Nome</th>
                <th class="col-xs-2 text-center">Argomento</th>
                <th class="col-xs-3 text-center">Proprietario</th>
                <th class="col-xs-2 text-center">Data</th>
                <th class="col-xs-2 text-center">Partecipanti</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="event in ctrl.filteredEvents">
                <td class="text-center"><a ng-href="evento/{{event.id}}">{{event.name}}</a></td>
                <td class="text-center">{{event.topic.name}}</td>
                <td class="text-center"><a ng-href="utente/{{event.user.id}}">{{event.user.firstName}} {{event.user.lastName}}</a></td>
                <td class="text-center">{{event.date}}</td>
                <td class="text-center">{{event.users.length}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr ng-if="ctrl.filteredEvents && ctrl.filteredEvents.length > 0"/>

      <div class="row" ng-if="ctrl.filteredEvents && ctrl.filteredEvents.length > 0">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-primary" ng-click="ctrl.openPdf(ctrl.filteredEvents, ctrl.startingDate, ctrl.endingDate)" ng-if="ctrl.startingDate && ctrl.endingDate && ctrl.filteredEvents && ctrl.filteredEvents.length > 0">Genera PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
