<!-- Flawless -->

<div ng-if="!index.isAuthenticated()">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center"><strong>Conferma il tuo Account su DigiDay</strong></h2>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">Per confermare l'Account inserisci la Password</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <input type="password" class="form-control" placeholder="Password..." ng-model="ctrl.password" required/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <input type="password" class="form-control" placeholder="Conferma la Password..." ng-model="ctrl.confirmationPassword" required/>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="ctrl.confirm(ctrl.password)" ng-disabled="!ctrl.password || ctrl.password.length < 6 || ctrl.password != ctrl.confirmationPassword">Conferma</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="index.isAuthenticated()">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center"><strong>Non devi aver effettuato l'Accesso</strong></h2>
    </div>
  </div>
</div>
