<!-- Flawless -->

<div class="row">
  <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center"><strong>{{ctrl.event.name}}</strong></h2>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Argomento: <strong>{{ctrl.event.topic.name}}</strong></p>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Aula: <strong>{{ctrl.event.classroom.name}}</strong></p>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Proprietario: <a ng-href="utente/{{ctrl.event.user.id}}"><strong>{{ctrl.event.user.firstName}} {{ctrl.event.user.lastName}}</strong></a></p>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Data: <strong>{{ctrl.formatDate(ctrl.event.startingDate, 'dd/MM/yyyy')}}</strong>, dalle <strong>{{ctrl.formatDate(ctrl.event.startingDate, 'HH:mm')}}</strong> alle <strong>{{ctrl.formatDate(ctrl.event.endingDate, 'HH:mm')}}</strong></p>
      </div>
    </div>

    <div ng-if="ctrl.event.description && ctrl.event.description.length > 0">
      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">Descrizione: <strong>{{ctrl.event.description}}</strong></p>
        </div>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Partecipanti: <strong>{{ctrl.event.users.length}}</strong>/<strong>{{ctrl.event.maximumPartecipants}}</strong></p>
      </div>
    </div>

    <hr/>

    <div ng-if="index.isAuthenticated() && index.user.id == ctrl.event.user.id">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button class="btn btn-danger" ng-click="ctrl.remove(ctrl.event)">Elimina</button>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="index.isAuthenticated() && index.user.id != ctrl.event.user.id && !ctrl.isSubscribed(ctrl.event, index.user) && ctrl.event.users.length < ctrl.event.maximumPartecipants">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button class="btn btn-success" ng-click="ctrl.subscribe(ctrl.event, index.user)">Iscrivimi</button>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="index.isAuthenticated() && index.user.id != ctrl.event.user.id && !ctrl.isSubscribed(ctrl.event, index.user) && ctrl.event.users.length >= ctrl.event.maximumPartecipants">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center"><strong>Numero massimo di Partecipanti raggiunto</strong></p>
        </div>
      </div>
    </div>

    <div ng-if="index.isAuthenticated() && index.user.id != ctrl.event.user.id && ctrl.isSubscribed(ctrl.event, index.user)">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button class="btn btn-danger" ng-click="ctrl.unsubscribe(ctrl.event, index.user)">Disiscrivimi</button>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!index.isAuthenticated()">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center"><strong>Devi essere Autenticato per iscriverti ad un DigiDay</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="index.isAuthenticated && index.user.id == ctrl.event.user.id">
    <div class="col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center"><strong>Registro</strong></h2>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-4 text-center">Matricola</th>
                <th class="col-xs-4 text-center">Nome</th>
                <th class="col-xs-4 text-center">Presente</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in ctrl.event.users">
                <td class="text-center">{{user.fresher}}</td>
                <td class="text-center">{{user.firstName}} {{user.lastName}}</td>
                <td class="text-center"><input type="checkbox" ng-model="ctrl.event.users[$index].attended"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="ctrl.confirm(ctrl.event.users)">Conferma</button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.openPdf(ctrl.event, ctrl.event.users)">Genera PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!index.isAuthenticated || index.user.id != ctrl.event.user.id">
    <div class="col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center"><strong>Partecipanti</strong></h2>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-4 text-center">Matricola</th>
                <th class="col-xs-4 text-center">Nome</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in ctrl.event.users">
                <td class="text-center">{{user.fresher}}</td>
                <td class="text-center">{{user.firstName}} {{user.lastName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
