<!-- Flawless -->

<style>
  body {
    min-width: 724px;
  }
</style>

<div ng-if="ctrl.myEvents && ctrl.myEvents.length > 0">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><strong style="color: #852121">I miei DigiDay</strong></h3>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="col-xs-2 text-center">Nome</th>
            <th class="col-xs-2 text-center">Argomento</th>
            <th class="col-xs-1 text-center">Aula</th>
            <th class="col-xs-2 text-center">Proprietario</th>
            <th class="col-xs-2 text-center">Data</th>
            <th class="col-xs-1 text-center">Durata</th>
            <th class="col-xs-2 text-center">Partecipanti</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in ctrl.myEvents">
            <td class="text-center"><a ng-href="evento/{{event.id}}">{{event.name}}</a></td>
            <td class="text-center">{{event.topic.name}}</td>
            <td class="text-center">{{event.classroom.name}}</td>
            <td class="text-center"><a ng-href="utente/{{event.user.id}}">{{event.user.firstName}} {{event.user.lastName}}</a></td>
            <td class="text-center">{{event.date}}</td>
            <td class="text-center">{{event.duration}}</td>
            <td class="text-center">{{event.users.length}}/{{event.maximumPartecipants}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr/>
  <hr/>
  <hr/>

  <div class="row br-lg"></div>
</div>

<div ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><strong style="color: #006400">DigiDay a cui sono iscritto</strong></h3>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="col-xs-2 text-center">Nome</th>
            <th class="col-xs-2 text-center">Argomento</th>
            <th class="col-xs-1 text-center">Aula</th>
            <th class="col-xs-2 text-center">Proprietario</th>
            <th class="col-xs-2 text-center">Data</th>
            <th class="col-xs-1 text-center">Durata</th>
            <th class="col-xs-2 text-center">Partecipanti</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in ctrl.subscribedEvents">
            <td class="text-center"><a ng-href="evento/{{event.id}}">{{event.name}}</a></td>
            <td class="text-center">{{event.topic.name}}</td>
            <td class="text-center">{{event.classroom.name}}</td>
            <td class="text-center"><a ng-href="utente/{{event.user.id}}">{{event.user.firstName}} {{event.user.lastName}}</a></td>
            <td class="text-center">{{event.date}}</td>
            <td class="text-center">{{event.duration}}</td>
            <td class="text-center">{{event.users.length}}/{{event.maximumPartecipants}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr/>
  <hr/>
  <hr/>

  <div class="row br-lg"></div>
</div>

<div ng-if="ctrl.otherEvents && ctrl.otherEvents.length > 0">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><strong style="color: #1E90FF">Altri DigiDay</strong></h3>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="col-xs-2 text-center">Nome</th>
            <th class="col-xs-2 text-center">Argomento</th>
            <th class="col-xs-1 text-center">Aula</th>
            <th class="col-xs-2 text-center">Proprietario</th>
            <th class="col-xs-2 text-center">Data</th>
            <th class="col-xs-1 text-center">Durata</th>
            <th class="col-xs-2 text-center">Partecipanti</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in ctrl.otherEvents">
            <td class="text-center"><a ng-href="evento/{{event.id}}">{{event.name}}</a></td>
            <td class="text-center">{{event.topic.name}}</td>
            <td class="text-center">{{event.classroom.name}}</td>
            <td class="text-center"><a ng-href="utente/{{event.user.id}}">{{event.user.firstName}} {{event.user.lastName}}</a></td>
            <td class="text-center">{{event.date}}</td>
            <td class="text-center">{{event.duration}}</td>
            <td class="text-center">{{event.users.length}}/{{event.maximumPartecipants}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div ng-if="ctrl.myEvents.length == 0 && ctrl.subscribedEvents.length == 0 && ctrl.otherEvents.length == 0">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><strong>Non ci sono DigiDay disponibili</strong></h3>
    </div>
  </div>
</div>
