<!-- Flawless -->

<div class="row" ng-if="ctrl.myEvents && ctrl.myEvents.length > 0">
  <div class="col-xs-12">
    <h3 class="text-center"><strong style="color: #852121">I miei DigiDay</strong></h3>
  </div>
</div>

<div class="row br-lg" ng-if="ctrl.myEvents && ctrl.myEvents.length > 0"></div>

<div class="row" ng-if="ctrl.myEvents && ctrl.myEvents.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped" style="margin-bottom: 0px;">
      <thead>
        <tr>
          <th class="col-xs-4 text-center">Titolo</th>
          <th class="col-xs-2 text-center">Argomento</th>
          <th class="col-xs-3 text-center">Creatore</th>
          <th class="col-xs-2 text-center">Durata</th>
          <th class="col-xs-2 text-center">Partecipanti</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in ctrl.myEvents">
          <td class="text-center"><a ng-click="index.locate('evento/' + event.id)">{{event.name}}</a></td>
          <td class="text-center">{{event.topic.name}}</td>
          <td class="text-center"><a ng-click="index.locate('utente/' + event.user.id)">{{event.user.firstName}} {{event.user.lastName}}</a></td>
          <td class="text-center">{{event.duration}}</td>
          <td class="text-center">{{event.users.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr ng-if="ctrl.myEvents && ctrl.myEvents.length > 0"/>
<hr ng-if="ctrl.myEvents && ctrl.myEvents.length > 0"/>
<hr ng-if="ctrl.myEvents && ctrl.myEvents.length > 0"/>

<div class="row br-lg" ng-if="ctrl.myEvents && ctrl.myEvents.length > 0"></div>

<div class="row" ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0">
  <div class="col-xs-12">
    <h3 class="text-center"><strong style="color: #006400">DigiDay a cui sono iscritto</strong></h3>
  </div>
</div>

<div class="row br-lg" ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0"></div>

<div class="row" ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped" style="margin-bottom: 0px;">
      <thead>
        <tr>
          <th class="col-xs-4 text-center">Titolo</th>
          <th class="col-xs-2 text-center">Argomento</th>
          <th class="col-xs-3 text-center">Creatore</th>
          <th class="col-xs-2 text-center">Durata</th>
          <th class="col-xs-2 text-center">Partecipanti</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in ctrl.subscribedEvents">
          <td class="text-center"><a ng-click="index.locate('evento/' + event.id)">{{event.name}}</a></td>
          <td class="text-center">{{event.topic.name}}</td>
          <td class="text-center"><a ng-click="index.locate('utente/' + event.user.id)">{{event.user.firstName}} {{event.user.lastName}}</a></td>
          <td class="text-center">{{event.duration}}</td>
          <td class="text-center">{{event.users.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0"/>
<hr ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0"/>
<hr ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0"/>

<div class="row br-lg" ng-if="ctrl.subscribedEvents && ctrl.subscribedEvents.length > 0"></div>

<div class="row" ng-if="ctrl.otherEvents && ctrl.otherEvents.length > 0">
  <div class="col-xs-12">
    <h3 class="text-center"><strong style="color: #1E90FF">Altri DigiDay</strong></h3>
  </div>
</div>

<div class="row br-lg" ng-if="ctrl.otherEvents && ctrl.otherEvents.length > 0"></div>

<div class="row" ng-if="ctrl.otherEvents && ctrl.otherEvents.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped" style="margin-bottom: 0px;">
      <thead>
        <tr>
          <th class="col-xs-4 text-center">Titolo</th>
          <th class="col-xs-2 text-center">Argomento</th>
          <th class="col-xs-3 text-center">Creatore</th>
          <th class="col-xs-2 text-center">Durata</th>
          <th class="col-xs-2 text-center">Partecipanti</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in ctrl.otherEvents">
          <td class="text-center"><a ng-click="index.locate('evento/' + event.id)">{{event.name}}</a></td>
          <td class="text-center">{{event.topic.name}}</td>
          <td class="text-center"><a ng-click="index.locate('utente/' + event.user.id)">{{event.user.firstName}} {{event.user.lastName}}</a></td>
          <td class="text-center">{{event.duration}}</td>
          <td class="text-center">{{event.users.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
